body {
    text-align: center;
    /* margin: 0px; */
    background-color: rgb(219, 161, 235);
    color: #000;
}

#welcome {
    background: linear-gradient(aquamarine 10%, rgb(219, 161, 235) 100%);
    width: 100%;
    display: table;
    padding: 100px 0;
}

#perfil {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
}

#ibagemPerfil {
    width: 20%;
    border-radius: 50%;
}

h1 {
    margin: 10px;
    font-weight: 500;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.nome {
    font-weight: 600;
    font-size: 44px;
    font-family: 'Arima', cursive;
}

h2 {
    font-weight: 400;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

#sobre {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;
}

.line {
    width: 100px;
    height: 6px;
    background-color: aquamarine;
    margin: 0 auto 30px;
}

/* #menu {
    list-style-type: none;
    position: fixed;
    width: 100%;
    padding: 10px;
    margin: 0px;
    background-color: aquamarine;
} */

/* .link {
    display: inline;
    font-size: 20px;
} */

/* .link a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-weight: 300;
    font-family: 'Roboto Mono', monospace;
} */

/* .link a:hover {
    background-color: rgb(197, 141, 214);
    font-weight: 700;
} */

nav {
    background-color: aquamarine;
}

.youtube {
    margin: 0 0 20px;
    max-width: 100%;
}

#rodape {  
    display: block;
    background-color: aquamarine;
    margin: 30px 0 0;
}

#contato {
    padding: 10px;
}

#rodape a{
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-weight: 300;
    font-family: 'Roboto Mono', monospace;
    font-size: 26px;
}

#rodape a:hover {
    background-color: rgb(197, 141, 214);
    font-weight: 700;
}