body {
    text-align: center;
    /*margin: 0;
    padding-top: 800px;*/
    background-color: rgb(197, 141, 214);
}

#welcome {
    /*position: absolute;
    top: 0;
    height: 800px;*/
    background: linear-gradient(aquamarine 10%, rgb(197, 141, 214) 100%);
    display: table;
    width: 100%;
    height: 100%;

}

.profile {
    height: 400px;
    border-radius: 50%;
    margin: 50px;
}

.parallax-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 50px;
}

.line {
    background-color: aquamarine;
    height: 6px;
    width: 70px;
    margin: auto;
}

h1 {
    padding-top: 40px;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

.nome {
    font-size: 46px;
    font-family: 'Arima Madurai', cursive;
    font-weight: 500;

}

h2 {
    font-size: 30px;
    font-family: monospace;
    font-weight: 300;
}

#sobre {
    padding: 50px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

/*
#menu {
    position: fixed;
    top: 0px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1;
    list-style: none;
    background-color: aquamarine;
}

.links {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}
*/

nav {
    background-color: aquamarine;
}

.yt {
    margin: 10px
}

a {
    text-decoration: none;
}

/*
.links:hover {
    font-size: 25px;
    text-decoration: underline;
}
*/

#rodape {
    background-color: antiquewhite;
    padding: 15px;
}

#contato h3 {
    display: inline;
    padding: 10px;
    font-size: 18px;
}

#rodape iframe {
    margin-top: 20px;
    margin-bottom: 20px;
}